/* Fonts
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
@font-face {
    font-family: PlayfairDisplay;
    src: url('/fonts/PlayfairDisplay-Regular.otf');
    font-weight: normal;
}
@font-face {
    font-family: PlayfairDisplay;
    src: url('/fonts/PlayfairDisplay-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: OpenSans;
    src: url('/fonts/OpenSans-Regular.ttf');
    font-weight: normal;
}

.hero-heading{
    font-family: PlayfairDisplay;
    font-size: 7rem;
    line-height: .8;
}.hero-heading-small{
    font-family: PlayfairDisplay;
    font-size: 3rem;
    line-height: .8;
    margin-left: 1.7rem;
}
/* Hamburger Menu / Big Menu
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
.nav .nine{
    width: 78%;
}
.big-nav{
    text-align: right;
}
.big-nav a{
    text-decoration: none;
    font-family: PlayfairDisplay;
    font-size: 1.7rem;
    color: #4a4a4a;
    padding: .4rem 1.8rem .6rem 1.8rem;
    margin: .4rem;
}
.big-nav a:hover{
    color: #FFFFFF;
    background-color: #196735;
}
/*add other pages as needed*/
body.home a.home{
    color: #FFFFFF;
    background-color: #196735;
}
.big-nav a:last-child{
    margin-right: 0rem;
}
.mobile-nav{
    padding-top: 3rem;
    float: right;
}

.menu-btn div {
    display: inline-block;
    position: absolute;
    right: 100%;
    top: 64%;
    padding-right: 8px;
    margin-top: -0.50em;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    z-index: 99;
}
 
.menu-btn span {
    display: block;
    width: 19px;
    height: 3px;
    margin: 4px 0;
    background: rgb(0,0,0);
    z-index: 99;
}
 
.responsive-menu{
    display: none;
    text-align: center;
}
.responsive-menu ul{
    list-style-type: none;
}
.expand {
    display: block !important; 
}


/* General
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
.no-gutter{
    margin: 0rem;
}
.button {
    color: #FFF;
    background-color: #196735;  
    border-color: #196735;
    border-radius: 0px;
}
h4{
    font-family: PlayfairDisplay;
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 0rem;
}
h5{
   font-family: OpenSans;
   font-size: 1.3rem;
   color: #646464;
   letter-spacing: .12rem; 
   margin-top: -5px;
   margin-bottom: 0rem;
}

/* Sections
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
.section {
    padding: 8rem 0 7rem;
    text-align: left;
}
.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

/* hero
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
.hero {
    background-image: url('/images/hero.png');
    background-position: 50% 52%;
    background-size: cover;
    color: #fff;
    font-size: 1.7rem;
    line-height: 2.4;
}
.hero-text{
    padding-left: 29rem;
}
.hero .button{
    width: 14.5rem;
    height: 5.5rem;
    background-color: transparent;
    border: 2px solid #FFF;
    padding: 5px 20px 10px 20px;
    margin: 10px 0px 0px 0px;
}
.green{
    background-image: url('/images/green_box.png');
    height: 10px;
    -webkit-background-size: cover;
    background-size: cover;
}

/* Split (Areas of Practice / News)
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
.solid{
    border: 0;
    margin-left: 0rem;
    margin-bottom: 4rem;
    height: .1rem;
    width: 97%;
    background: #000;
}
.ui-accordion-header.ui-state-active { 
    color: #196735; 
}
.practice a, .news a, .attorneys a{
    color: #196735;
    text-decoration: none;
    padding-left: 2.2rem;
}
.practice{
    color: #4a4a4a;
}
.practice h2, .news h2, .attorneys h2{
    display: inline;
}
.practice h3{
    margin-bottom: 1.0rem;
}
.practice img{
    position: relative;
    top: .75rem;
}
.practice .icon{
    position: relative;
    filter: #000;
    right: 2.75rem;
    top: 0rem;
}
.practice p{
    padding-right: 20%;
    margin-bottom: 0rem;
}
.practice .button{
    width: 12.5rem;
    height: 5.0rem;
    background-color: transparent;
    font-family: PlayfairDisplay;
    font-weight: bold;
    letter-spacing: -.02rem;
    color: #4a4a4a;
    border: 1px solid #4a4a4a;
    padding: 5px 15px;
    margin: 12px 0px 30px 0px;
    }
.news .button{
    width: 12.5rem;
    height: 5.0rem;
    background-color: #292929;
    font-family: PlayfairDisplay;
    font-weight: bold;
    letter-spacing: -.02rem;
    color: #ffffff;
    border: 1px solid #292929;
    padding: 5px 15px;
    margin: 12px 0px 40px 0px;
    }
.news{
    background-color: #fafafa;
    padding-left: -10px;
}
.date {
    color: #646464;
    font-size: .867rem;
}
.news-paragraph,
.news-title{
    color: #292929;
}
.news p{
    padding-top: .75rem;
    margin-bottom: .5rem;
    line-height: 2.6rem;
}
/* Attorneys
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */

.attorneys{
    color: #FFFFFF;
    background-color: #292929;
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
}
.attorneys .solid{
    border: 0;
    margin-left: 0rem;
    margin-bottom: 4rem;
    height: .1rem;
    width: 100%;
    background: #FFFFFF;
}
.attorneys .columns div{
    display: inline-block;
    margin-right: 1.55rem;
    margin-bottom: 1.55rem;
    text-align: center;
}
.attorneys .columns div:last-child{
    margin-right: 0rem;
}
h6{
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0rem;
}
.attorneys p{
    font-size: 1.1rem;
    margin-bottom: 0rem;
}
/* Logos
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */

.logos{
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
    text-align: center;
}
.logos img{
    margin-right: 5.5rem;
}

/* Footer
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */

footer{
    color: #FFFFFF;
    background-color: #292929;
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
    .section {
        padding: 12rem 0 11rem;
    }
}

/* Bigger than 750 */
@media (min-width: 750px) {
    .mobile-nav{
        display: none;
    }
    .info {
        height: 190px;
    }
    .info-heading {
        font-size: 2.6rem;
    }
    .section {
        padding: 14rem 0 15rem;
    }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
    .mobile-nav{
        display: none;
    }
    .section {
        padding: 20rem 0 19rem;
    }
}
/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .mobile-nav{
        display: none;
    }
    .container {
        width: 100%;
    }
    .section {
        padding: 27.25rem 0 4rem;
    }
    .practice, .news {
        padding: 6.5rem 0;
    }
}